$dark-blue: #1e2e3b;
$blue: #30495f;
$light-blue: #9dafbd;
$text-on-dark: #d6dbdf;
$text-on-white: #1e2e3b;
$placeholder-text-color: #7f7f7f;
$menu-highlight: #405e78;
$green: #76b43f;
$light-green: #a8ce87;
$red: #b43f3f;
$light-red: #c99898;
$orange: #b48c3f;